# Copy to: /etc/systemd/system

[Unit]
Description=dueunoapp
After=syslog.target

[Service]
User=root
WorkingDirectory=/usr/local/dueunoapp
ExecStart=/usr/local/dueunoapp/start
ExecStop=/usr/local/dueunoapp/stop
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
